$sizeXs: 8px;
$sizeS: 12px;
$sizeM: 16px;
$sizeL: 20px;
$sizeXl: 24px;
$size2xl: 28px;
$size3xl: 32px;
$size4xl: 36px;
$size5xl: 40px;
$size6xl: 44px;
$size7xl: 48px;
$size8xl: 52px;
$size9xl: 60px;

$sizeContentX: 420px;
$sizeContentS: 768px;
$sizeContentM: 992px;
$sizeContentL: 1200px;
