@import "size.scss";
@import "color.scss";

/* 通用样式 start */
.fl {
  float: left
}

.fr {
  float: right
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: $Grey;
}

.text-warning {
  color: $warning;
}

.text-danger {
  color: $danger;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .4s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.myzoom-enter-active,
.myzoom-leave-active {
  transform: scale(1);
  transition: all .5s;
}

.myzoom-enter,
.myzoom-leave-active {
  transform: scale(2);
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity,transform .5s;
}

.slide-enter,
.slide-leave-active {
  opacity: 0;
  transform: translateY(-8%);
}
/* 通用样式 end */

/* 公用样式 start */
html {
  height: 100%;
  font-size: calc(0.5em + 1vw);
  color: $LightGrey;
  background-color: $Greyer;
}

body, #app {
  height: 100%;
}

h1, .h1 {
  font-size: $size2xl;
}

h2, .h2 {
  font-size: $sizeXl;
}

h3, .h3 {
  font-size: $sizeL;
}

h4, .h4 {
  font-size: $sizeM;
}

p {
  line-height: 2;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0,0,0,.5);
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  .page-header {
    flex-grow: 0;
    position: relative;
    z-index: 1;
  }
  .page-body {
    flex-grow: 1;
    position: relative;
    z-index: 2;
  }
  .page-footer {
    flex-grow: 0;
    position: relative;
    height: 30%;
    z-index: 1;
    .page-footer-text-box {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      padding-bottom: 2rem;
      display: flex;
      .page-footer-text {
        margin: auto;
        color: #fff;
        font-family: Impact;
        font-weight: 100;
        text-shadow: 1px 1px #666;
        .h2 {font-size: 2.4rem;}
        p {font-size: 1.6rem;}
      }
    }
    .page-footer-next-btn {
      width: 3rem;
      height: 2rem;
      position: absolute;
      left: 50%;
      bottom: 2rem;
      margin-left: -1.5rem;
      animation: jump 1s infinite;
      img {
        display: block;
        width: 100%;
      }
    }
    @keyframes jump {
      0% { transform: translateY(-20%); }
      50% { transform: translateY(20%); }
      100% { transform: translateY(-20%); }
    }
  }
}

/* 公用样式 end */
