@import "size.scss";
@import "color.scss";
@import "swiper-slide.scss";

/* 通用样式 start */
.fl {
  float: left
}

.fr {
  float: right
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: $Grey;
}

.text-warning {
  color: $warning;
}

.text-danger {
  color: $danger;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .4s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.myzoom-enter-active,
.myzoom-leave-active {
  transform: scale(1);
  transition: all .5s;
}

.myzoom-enter,
.myzoom-leave-active {
  transform: scale(2);
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity,transform .5s;
}

.slide-enter,
.slide-leave-active {
  opacity: 0;
  transform: translateY(-8%);
}
/* 通用样式 end */

/* 公用样式 start */
html {
  height: 100%;
  font-size: calc(0.5em + 1vw);
  color: $LightGrey;
  background:
    radial-gradient(circle closest-side at 60% 43%, #ddd 26%, rgba(187,0,51,0) 27%),
    radial-gradient(circle closest-side at 40% 43%, #ddd 26%, rgba(187,0,51,0) 27%),
    radial-gradient(circle closest-side at 40% 22%, #f5f5f5 45%, rgba(221,51,85,0) 46%),
    radial-gradient(circle closest-side at 60% 22%, #f5f5f5 45%, rgba(221,51,85,0) 46%),
    radial-gradient(circle closest-side at 50% 35%, #f5f5f5 30%, rgba(221,51,85,0) 31%),
    radial-gradient(circle closest-side at 60% 43%, #ddd 26%, rgba(187,0,51,0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 43%, #ddd 26%, rgba(187,0,51,0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 22%, #f5f5f5 45%, rgba(221,51,85,0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 60% 22%, #f5f5f5 45%, rgba(221,51,85,0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 50% 35%, #f5f5f5 30%, rgba(221,51,85,0) 31%) 50px 50px;
  background-color:#ddd;
  background-size:100px 100px;
}

body, #app {
  height: 100%;
}

h1, .h1 {
  font-size: $size2xl;
}

h2, .h2 {
  font-size: $sizeXl;
}

h3, .h3 {
  font-size: $sizeL;
}

h4, .h4 {
  font-size: $sizeM;
}

p {
  line-height: 2;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0,0,0,.5);
}
/* 公用样式 end */
